# **AI and ML Program by letsUpgrade**
# **DAY 33 ASSIGNMENT**
# **SUBMITTED BY**
# **NAME:-PAIDIMARRI VENKATA SAI ASWITHA**

# **Question 1:**
# **Use User Data set and show the accuracy through the SVM model.**

In [29]:
import numpy as np
import pandas as pd

In [30]:
df=pd.read_csv('/content/User_Data - Arindam Dev (1).csv')
df

      User ID  Gender  Age  EstimatedSalary  Purchased
0    15624510    Male   19            19000          0
1    15810944    Male   35            20000          0
2    15668575  Female   26            43000          0
3    15603246  Female   27            57000          0
4    15804002    Male   19            76000          0
..        ...     ...  ...              ...        ...
395  15691863  Female   46            41000          1
396  15706071    Male   51            23000          1
397  15654296  Female   50            20000          1
398  15755018    Male   36            33000          0
399  15594041  Female   49            36000          1

[400 rows x 5 columns]

In [31]:
df.isnull().sum()

User ID            0
Gender             0
Age                0
EstimatedSalary    0
Purchased          0
dtype: int64

In [32]:
df.shape

(400, 5)

In [33]:
X = df.iloc[:, 0: 4].values
y = df.iloc[:, 4].values

In [34]:
from sklearn.preprocessing import LabelEncoder, OneHotEncoder
labelencoder_y=LabelEncoder()
y=labelencoder_y.fit_transform(y)

In [37]:
X = df.drop('Gender', axis=1)
y = df['Gender']

In [38]:
from sklearn.model_selection import train_test_split
X_train,X_test,y_train,y_test=train_test_split(X,y,test_size=0.2,random_state=0)

In [39]:
from sklearn import svm
clf=svm.SVC(kernel='linear')
clf.fit(X_train,y_train)
y_pred=clf.predict(X_test)

In [40]:
#Import scikit-learn metrics module for accuracy calculation
from sklearn import metrics

# Model Accuracy: how often is the classifier correct?
print("Accuracy:",metrics.accuracy_score(y_test, y_pred))

Accuracy: 0.4375