# **AI and ML Program by letsUpgrade**
# **DAY6 ASSIGNMENT**
# **SUBMITTED BY**
# **NAME:-PAIDIMARRI VENKATA SAI ASWITHA**

# **Question1**
Assuming that we have some email addresses in the "username@companyname.com" format, please
write a program to print the company name of a given email address. Both user names and company
names are composed of letters only.
Input Format:
The first line of the input contains an email address.
Output Format:
Print the company name in a single line.
Example;
Input:
john@google.com
Output:
google.

In [3]:
mail=input()
i=mail.index('@')
print(mail[i+1:len(mail)-4])

john@google.com
google

# **Question2**
Write a program that accepts a comma-separated sequence of words as input and prints the words in a
comma-separated sequence after sorting them alphabetically.
Input Format:
The first line of input contains words separated by the comma.
Output Format:
Print the sorted words separated by the comma.
Example:
Input:
without,hello,bag,world
Output:
bag,hello,without,world

In [2]:
a=[str(x) for x in input().split(',')] 
a.sort()
b=",".join(a)
print(b)

without,hello,bag,world
bag,hello,without,world

# **Question3**
# **Create your own Jupyter Notebook for Sets.**

# Create a Set:

In [ ]:
set={'lets','upgrade','AI','ML','Program'}
print(set)

{'Program', 'upgrade', 'ML', 'lets', 'AI'}

# Access Items

In [ ]:
set={'lets','upgrade','AI','ML','Program'}
for i in set:
  print(i)

Program
upgrade
ML
lets
AI

# Add Items

In [ ]:
set={'lets','upgrade','AI','ML','Program'}
set.add('Batch2')
print(set)
set.update(['Day6','Assignment','Submission'])
print(set)

{'Program', 'upgrade', 'ML', 'lets', 'Batch2', 'AI'}
{'Program', 'upgrade', 'Day6', 'Assignment', 'ML', 'lets', 'Batch2', 'AI', 'Submission'}

# Get the Length of a Set

In [ ]:
set={'lets','upgrade','AI','ML','Program'}
print(len(set))

5

# Remove Item

In [ ]:
set={'lets','upgrade','AI','ML','Program'}
set.remove('lets')
print(set)

{'Program', 'upgrade', 'ML', 'AI'}

# Pop()

In [ ]:
set={'lets','upgrade','AI','ML','Program'}
set.pop()
print(set)

{'upgrade', 'ML', 'lets', 'AI'}

# Join Two Sets

In [ ]:
set={'lets','upgrade','AI','ML','Program'}
set1={'Day6','Assignment','Submission'}
set2 = set.union(set1)
print(set2)

{'ML', 'lets', 'Submission', 'Program', 'upgrade', 'AI', 'Assignment', 'Day6'}

# **Question4**
Given a list of n-1 numbers ranging from 1 to n, your task is to find the missing number. There are no
duplicates.
Input Format:
The first line contains n-1 numbers with each number separated by a space.
Output Format:
Print the missing number
Example:
Input:
1 2 4 6 3 7 8
Output:
5
Explanation:
In the above list of numbers 5 is missing and hence 5 is the input

In [ ]:
a=[int(i) for i in input().split()]
s=set(a)
for i in range(1,len(a)+1):
  if i not in s:
    print(i)

1 2 4 6 3 7 8
5


# **Question5**
With a given list L, write a program to print this list L after removing all duplicate values with original order
reserved.
Example:
If the input list is
12 24 35 24 88 120 155 88 120 155
Then the output should be
12 24 35 88 120 155
Explanation:
Third, the seventh and ninth element of the list L has been removed because it was already present.
Input Format:
In one line take the elements of the list L with each element separated by a space.
Output Format:
Print the elements of the modified list in one line with each element separated by a space.
Example:
Input:
12 24 35 24
Output:
12 24 35

In [ ]:
a=[int(x) for x in input().split()] 
l=[]
for i in a:
  if i not in l:
    l.append(i)
for j in l:
  print(j,end=' ')

12 24 35 24
12 24 35