# **Minor Project-3:-Predicting the weight based on height and gender**
# Submitted by
# Name:-Paidimarri Venkata Sai Aswitha
# Id number :-180040603
# Tpt sec:-S5

# Importing libraries

In [ ]:
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from sklearn.linear_model import LogisticRegression
from sklearn import metrics

#loading dataset

In [ ]:
df=pd.read_csv('/content/datasets_26073_33239_weight-height.csv')
df

      Gender     Height      Weight
0       Male  73.847017  241.893563
1       Male  68.781904  162.310473
2       Male  74.110105  212.740856
3       Male  71.730978  220.042470
4       Male  69.881796  206.349801
...      ...        ...         ...
9995  Female  66.172652  136.777454
9996  Female  67.067155  170.867906
9997  Female  63.867992  128.475319
9998  Female  69.034243  163.852461
9999  Female  61.944246  113.649103

[10000 rows x 3 columns]

# Analyzing the data

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Gender  10000 non-null  object
 1   Height  10000 non-null  float64
 2   Weight  10000 non-null  float64
dtypes: float64(2), object(1)
memory usage: 234.5+ KB

In [ ]:
df.describe()

             Height        Weight
count  10000.000000  10000.000000
mean      66.367560    161.440357
std        3.847528     32.108439
min       54.263133     64.700127
25%       63.505620    135.818051
50%       66.318070    161.212928
75%       69.174262    187.169525
max       78.998742    269.989699

In [ ]:
df.isnull().sum()

Gender    0
Height    0
Weight    0
dtype: int64

# Converting gender to numerical data

In [ ]:
df['Gender'].replace('Female',0, inplace=True)
df['Gender'].replace('Male',1, inplace=True)
X = df.iloc[:, :-1].values
y = df.iloc[:, 2].values

# Split datset in to training set and test set

In [ ]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=0)

# Fit regression model

In [ ]:
lin_reg = LinearRegression()
lin_reg.fit(X_train, y_train)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)

# Predicting test values

In [ ]:
lin_pred = lin_reg.predict(X_test)
lin_pred

array([141.93828842, 176.55658781, 219.77836195, ..., 149.97129636,
       166.83374903, 138.87940678])

In [ ]:
y_test

array([138.0857961 , 187.36336585, 216.53319128, ..., 152.42003134,
       170.10064728, 158.20620596])

# Predicting the Weight by giving gender and height as input

In [ ]:
h=int(input())
g=int(input())
weight_pred = lin_reg.predict([[g,h]])
weight_pred

74
0

array([197.2481918])